html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 90px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-color: rgb(220, 220, 220);
}
header {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.849);
}

.search-input {
  margin-right: 200px;
  height: 30px;
  width: 450px;
  border-radius: 5px;
}

.load-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
}

.load-button.is-hidden {
  display: none;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.gallery-list li {
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid rgb(155, 152, 152);
  box-shadow: 2px 2px 4px rgb(168, 168, 168);
}

.gallery-list img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stats-item {
  display: flex;
}
.material-icons {
  margin-right: 10px;
}
